@media screen and (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto; }

  html, body {
    color: #776E65;
    background: #E0E4CC;
  }

  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
  display: block;
  float: left;
  }

  .scores-container {
    float: right;
    text-align: right;
  }

  .score-container {
    background: #A7DBD8;
    padding: 5px 15px;
    font-size: 25px;
    height: 50px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
    margin-right: 42px;
    border-width: 2px;
    border-color: #776E65;
    float:left;
  }

  .newgame {
    display: inline-block;
    background: #A7DBD8;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 25px;
    height: 50px;
    line-height: 35px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 8px;
    text-align: center;
    margin-right: 23px;
    float: right;
    cursor: pointer;
    display: block;
  }

form {
    font-size: 0;
}
  .message {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    height:
  }

  .sudoku-cell {
  width: 56.25px;
  height: 56.25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 15px;
  padding: 0 0px;
  background: #A7DBD8;
  border-color: #5A483B;
  border-width: 1px;
  border-style: solid;
  float:left;
  }

  .gameboard {
    background: #E0E4CC;
  }
  input {
    border: 0px;
    outline: 0px;
    margin: 0px;
    background: transparent;
    width: 56.25px;
    height: 56.25px;
    line-height: 60px;
    padding: 0 0px;
    font-size:50px;
    text-align:center;
    /* color: #eee4da; */
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .wrong-cell {
    color: red;
    font-weight: bolder;
  }

  .maybe-cell {
    color: black;
  }

  .right-cell {
    color: green;
    font-weight: bolder;
  }


  .cell-d
  {
  margin-bottom: 3px;
  border-bottom-width: 2px;
  border-style: solid;
  }

  .cell-u
  {
  margin-top: 3px;
  border-top-width: 2px;
  border-style: solid;
  }

  .cell-l
  {
  margin-left: 3px;
  border-left-width: 2px;
  border-style: solid;
  }

  .cell-r
  {
  margin-right: 3px;
  border-right-width: 2px;
  border-style: solid;
  }

  .readOnly {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 280px;
    margin: 0 auto; }

  html, body {
    color: #776E65;
  }

  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  display: block;
  float: left;
  }

  .scores-container {
    float: right;
    text-align: right;
  }

  .score-container {
    background: none repeat scroll 0% 0% #A7DBD8;
    padding: 3px 8px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    margin-right: 10px;
    float:left;
  }

  .newgame {
    display: inline-block;
    background: #A7DBD8;
    padding: 2px 8px;
    text-decoration: none;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    color: #FFF;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    display: block;
  }

  .message {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  }

  .btn-new {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: #5bc0de;
    color: #EEE4DA;
    text-align: center;
  }


  .score {
  background: #5bc0de;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  border-bottom: 10px;
  color: #EEE4DA;
  text-align: center;
  border-radius: 2px;
  float: center;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    height:
  }

  .sudoku-cell {
  width: 26px;
  height: 26px;
  margin-right: 0.0px;
  margin-bottom: 0.0px;
  border-radius: 2px;
  background: #F59563;
  border-color: #5A483B;
  border-width: 0.5px;
  border-style: solid;
  }


  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 28px;
    height: 28px;
    line-height: 30px;
    padding: 0 0px;
    font-size:22px;
    text-align:center;
    color: #eee4da;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .wrong-cell {
    color: red;
    font-weight: bolder;
  }

  .maybe-cell {
    color: black;
  }

  .right-cell {
    color: green;
    font-weight: bolder;
  }


  .cell-d
  {
  border-bottom-color: #5A483B;
  border-bottom-width: 2.5px;
  border-bottom-style: solid;
  }

  .cell-u
  {
  border-top-color: #5A483B;
  border-top-width: 2.5px;
  border-top-style: solid;
  }

  .cell-l
  {
  border-left-color: #5A483B;
  border-left-width: 2.5px;
  border-left-style:  solid;
  }

  .cell-r
  {
  border-right-color: #5A483B;
  border-right-width: 2.5px;
  border-right-style:  solid;
  }

  .readOnly {
    font-weight: bold;
  }
}
