@media screen and (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto; }

  html, body {
    color: #776E65;
  }

  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  }

  .message {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  }

  .btn-new {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: #5bc0de;
    color: #EEE4DA;
    font-weight: bold;
    text-align: center;
  }

  .newgame{
  margin-top: 20px;
  border-bottom: 20px;
  float: right;
}
  .score {
  background: #5bc0de;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: 20px;
  color: #EEE4DA;
  text-align: center;
  border-radius: 4px;
  float: center;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    height:
  }

  .sudoku-cell {
  width: 56.25px;
  height: 56.25px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  background: #F59563;
  border-color: #5A483B;
  border-width: 1px;
  border-style: solid;
  }


  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 56.25px;
    height: 56.25px;
    line-height: 60px;
    padding: 0 0px;
    font-size:50px;
    text-align:center;
    color: #eee4da;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .wrong-cell {
    color: red;
    font-weight: bolder;
  }

  .maybe-cell {
    color: black;
  }

  .right-cell {
    color: green;
    font-weight: bolder;
  }


  .cell-d
  {
  border-bottom-color: #5A483B;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  }

  .cell-u
  {
  border-top-color: #5A483B;
  border-top-width: 3px;
  border-top-style: solid;
  }

  .cell-l
  {
  border-left-color: #5A483B;
  border-left-width: 3px;
  border-left-style:  solid;
  }

  .cell-r
  {
  border-right-color: #5A483B;
  border-right-width: 3px;
  border-right-style:  solid;
  }

  .readOnly {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 280px;
    margin: 0 auto; }

  html, body {
    color: #776E65;
  }

  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  }

  .message {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  }

  .btn-new {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: #5bc0de;
    color: #EEE4DA;
    text-align: center;
  }

.newgame{
  margin-top: 15px;
  border-bottom: 10px;
}

  .score {
  background: #5bc0de;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  border-bottom: 10px;
  color: #EEE4DA;
  text-align: center;
  border-radius: 2px;
  float: center;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    height:
  }

  .sudoku-cell {
  width: 26px;
  height: 26px;
  margin-right: 0.0px;
  margin-bottom: 0.0px;
  border-radius: 2px;
  background: #F59563;
  border-color: #5A483B;
  border-width: 0.5px;
  border-style: solid;
  }


  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 28px;
    height: 28px;
    line-height: 30px;
    padding: 0 0px;
    font-size:22px;
    text-align:center;
    color: #eee4da;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .wrong-cell {
    color: red;
    font-weight: bolder;
  }

  .maybe-cell {
    color: black;
  }

  .right-cell {
    color: green;
    font-weight: bolder;
  }


  .cell-d
  {
  border-bottom-color: #5A483B;
  border-bottom-width: 2.5px;
  border-bottom-style: solid;
  }

  .cell-u
  {
  border-top-color: #5A483B;
  border-top-width: 2.5px;
  border-top-style: solid;
  }

  .cell-l
  {
  border-left-color: #5A483B;
  border-left-width: 2.5px;
  border-left-style:  solid;
  }

  .cell-r
  {
  border-right-color: #5A483B;
  border-right-width: 2.5px;
  border-right-style:  solid;
  }

  .readOnly {
    font-weight: bold;
  }
}
