  html, body {
    background-color: #FAF0E6;
    color: #708090;
  }

  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  }

  .message {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  }

  .btn-new {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: #B0E0E6;
    color: #4682B4;
    font-weight: bold;
    text-align: center;;
  }

  .score {
  background: #B0E0E6;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: 20px;
  color: #4682B4;
  text-align: center;
  border-radius: 4px;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    height:
  }

  .sudoku-cell {
  width: 56.25px;
  height: 56.25px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  border-radius: 4px;
  background: #D8BFD8;
  border-color: #BC8F8F;
  border-width: 1px;
  border-style: solid;
  }


  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 56.25px;
    height: 56.25px;
    font-size:55px;
    text-align:center;
    color: #5F9EA0;
  }


  .wrong-cell {
    color: #FFB6C1;
    font-weight: bolder;
  }

  .maybe-cell {
    color: #A9A9A9;
  }

  .right-cell {
    color: #90EE90;
    font-weight: bolder;
  }


  .cell-d
  {
  border-bottom-color: #BC8F8F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  }

  .cell-u
  {
  border-top-color: #BC8F8F;
  border-top-width: 3px;
  border-top-style: solid;
  }

  .cell-l
  {
  border-left-color: #BC8F8F;
  border-left-width: 3px;
  border-left-style:  solid;
  }

  .cell-r
  {
  border-right-color: #BC8F8F;
  border-right-width: 3px;
  border-right-style:  solid;
  }

  .readOnly {
    font-weight: bold;
  }
