  html, body {
    color: #776E65;
    background: #E0E4CC;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto; }
  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
  display: block;
  float: left;
  }

  .scores-container {
    float: right;
    text-align: right;
  }

  .score-container {
    background: #A7DBD8;
    padding: 5px 15px;
    font-size: 25px;
    height: 50px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
    margin-right: 16px;
    border-width: 2px;
    border-color: #776E65;
    float:left;
  }

  .newgame {
    display: inline-block;
    background: #A7DBD8;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 25px;
    height: 50px;
    line-height: 35px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
    margin-right: 80px;
    float: right;
    cursor: pointer;
    display: block;
  }

form {
    font-size: 0;
}
  .message {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    height:
  }

  .sudoku-cell {
  width: 56.25px;
  height: 56.25px;
  margin: 0px;
  border-radius: 15px;
  padding: 0 0px;
  background: #A7DBD8;
  border-color: #5A483B;
  border-width: 1px;
  border-style: solid;
  float:left;
  }

  input {
    border: 0px;
    outline: 0px;
    margin: 0px;
    background: transparent;
    width: 56.25px;
    height: 56.25px;
    line-height: 60px;
    padding: 0 0px;
    font-size:50px;
    text-align:center;
    /* color: #eee4da; */
  }

  .wrong-cell {
    color: red;
    font-weight: bolder;
  }

  .maybe-cell {
    color: black;
    font-weight: bolder;
  }

  .right-cell {
    color: green;
    font-weight: bolder;
  }


  .cell-d
  {
  margin-bottom: 3px;
  border-bottom-width: 2px;
  border-style: solid;
  }

  .cell-u
  {
  margin-top: 3px;
  border-top-width: 2px;
  border-style: solid;
  }

  .cell-l
  {
  margin-left: 3px;
  border-left-width: 2px;
  border-style: solid;
  }

  .cell-r
  {
  margin-right: 3px;
  border-right-width: 2px;
  border-style: solid;
  }

  .readOnly {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 310px;
    margin: 20px auto;
  }

  .sudoku
  {
    margin: 0 auto;
  }

  .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  display: block;
  float: left;
  /* background: #69D2E7;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px; */
  }

  .gameboard {
    margin-top: 10px;
  }

  .scores-container {
    float: right;
    text-align: right;
  }

 .score-container {
    background: #A7DBD8;
    padding: 3px 8px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    margin-right: 14px;
    float:left;
  }

  .newgame {
    display: inline-block;
    background: #A7DBD8;
    padding: 2px 8px;
    text-decoration: none;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    margin-right: 4px;
    float: right;
    cursor: pointer;
    display: block;
  }

  .message {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #A7DBD8;
    border-radius: 30px;
  }

  .sudoku-cell {
  width: 30.5px;
  height: 30.5px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
  border-radius: 5px;
  padding: 0 0px;
  background: #A7DBD8;
  border-color: #5A483B;
  border-width: 1px;
  border-style: solid;
  float:left;
  }


  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 29.5px;
    height: 29.5px;
    line-height: 30px;
    padding: 0 0px;
    font-size:26px;
    text-align:center;
    /* color: #eee4da; */
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .wrong-cell {
    color: red;
    font-weight: bolder;
  }

  .maybe-cell {
    color: black;
    font-weight: bolder;
  }

  .right-cell {
    color: green;
    font-weight: bolder;
  }

  .cell-d
  {
  margin-bottom: 3px;
  border-bottom-width: 1px;
  border-style: solid;
  }

  .cell-u
  {
  margin-top: 3px;
  border-top-width: 1px;
  border-style: solid;
  }

  .cell-l
  {
  margin-left: 3px;
  border-left-width: 1px;
  border-style: solid;
  }

  .cell-r
  {
  margin-right: 3px;
  border-right-width: 1px;
  border-style: solid;
  }

  .readOnly {
    font-weight: normal;
  }
}
